<input [(ngModel)]="name">
<h1>{{name}}</h1>

<input type="text" placeholder="Enter name" [value]="value">
<img [src]="imgname" alt="not found" height="200px" width="200px">

<!-- event binding (click)in brackets -->
<button (click)="save($event)">save</button>
<button (click)="add()">add</button>

<ul>
    <li *ngFor="let val of course">
        {{val}}
    </li>
</ul>

<div *ngFor="let val of course">
    {{val}}
</div>

<ul>
    <li *ngFor="let item of person">
        {{item.id}} -  {{item.firstName}}    {{item.lastName}}
    </li>
</ul>

<!-- 
Types of Directives
---------
1) component Directive
2) Structural Directive
	1)ngFor
	2)ngSwitch
	3)ngIf
3) Attribute Directive   1) ngClass   2) ngStyle
-->

<!-- ngSwitch -->
<div [ngSwitch]="selectedItem">
    <div *ngSwitchCase="'one'">One is Passed</div>
    <div *ngSwitchCase="'two'">Two is Passed</div>
    <div *ngSwitchCase="'three'">Three is Passed</div>
    <div *ngSwitchCase="'four'">Four is Passed</div>
    <div *ngSwitchCase="'five'">Five is Passed</div>
    <div *ngSwitchCase="'six'">Six is Passed</div>
    <div *ngSwitchCase="'seven'">Seven is Passed</div>
    <!-- <div *ngSwitchDefault="default">Not Found</div> -->
    <div *ngSwitchDefault>Not Found</div>
</div> <br>

<!-- ngIf -->

<!-- <div *ngIf="show">
    I have some information
</div> -->


<!-- <div *ngIf="!show">
    I have Not shown information
</div> -->

<!-- if else condition -->
<!-- <div *ngIf="show; else elseblock">
    I have some information
</div>

<ng-template #elseblock>
    i have no information
</ng-template> -->

<!--if else if -->
<!-- <div *ngIf="show; then thenblock; else elseblock">
    I have some information
</div>

<ng-template #thenblock>
    i have then information
</ng-template>

<ng-template #elseblock>
    i have no information
</ng-template>
<br> <br>  -->
<!-- or -->

<ng-template [ngIf]="show" [ngIfThen]="thenblock">
    content render when it is true
</ng-template>
<ng-template #thenblock>
    content render when it is false
</ng-template> <br> <br>

<ng-template [ngIf]="show" [ngIfElse]="elseblock">
    content render when it is true
</ng-template>
<ng-template #elseblock>
    content render when it is false
</ng-template> <br> <br>

<ng-template [ngIf]="shows" [ngIfElse]="elseblock" [ngIfThen]="thenblock">
    content render when it is true
</ng-template>
<ng-template #elseblock>
    content render when it is false else block
</ng-template>
<ng-template #thenblock>
    content render when it is false then block 
</ng-template>
<br> <br>
<!-- Attribute Directive ngClass, ngStyle -->

<div [ngStyle]="{'background-color': 'red'}">sometext</div> <br>

<!-- condition ? true : else -->
<div [ngStyle]="{'background-color': show ? 'green' : 'orange'}">somerandomtext</div>

<!-- 08-05-2024 -->
<!-- ngStyle -->

<h1 class="text-special">Besant Technology</h1>
<h1 [class]="success">Besant Technology</h1>
<h1 class="text-special" [class]="success">Besant Technology</h1>

<h1 [ngClass]="message">Besant</h1>

<!-- how to pass the data from parent to child -->
<h1>Parent Component</h1>
<h1>{{UserName}}</h1>

<!-- 09-05-2024 -->
<h1>{{dataFromChild}}</h1>
<hr>
<!-- <app-home [name]="UserName" (childData)="handleData($event)"></app-home>  -->
 <!-- or  -->
 <!-- 14-05-2024 -->

<a routerLinkActive="active" [routerLink]="['nav']">Nav</a> <br>
<a routerLinkActive="active" [routerLink]="['main']">Main</a> <br>
<a routerLinkActive="active" [routerLink]="['footer']">Footer</a> <br>
<a routerLinkActive="active" [routerLink]="['header']">Header</a> <br>
<a routerLinkActive="active" [routerLink]="['child']">Child</a> <br>
<a routerLinkActive="active" [routerLink]="['user', '100', 'scott']">User</a> <br>
<a routerLinkActive="active" [routerLink]="['pipe']">pipe</a> <br>
<a routerLinkActive="active" [routerLink]="['lifeCycleComponent']">lifeCycleComponent</a>

<router-outlet></router-outlet> <br>

<button (click)="goToHeader()">Go To Header</button>
<button (click)="goToFooter()">Go To Footer</button>
<button (click)="getJohnData()">GetJohnData</button><br>
<button (click)="gotoPipe()">pipe</button>
<button (click)="goToLifeCycleComponent()">lifeCycleComponent</button>
<button (click)="formComponent()">Go To Form</button>

<ul *ngFor="let data of response">
    <!-- <li>{{data.id}}</li> -->
    <li>{{data.title}}</li>
</ul>
<!-- 16-05-2024 -->







